.profile-modal {
  &__avatar-img {
    border-radius: 100%;
    outline: 0.5px solid var(--mantine-color-neutral-3, #dcd5c7);
  }

  &__upload-img-btn {
    padding: rem(6) rem(10);
    border: 1px solid var(--mantine-color-neutral-3, #dcd5c7);
  }
}
