.input {
  padding: 0 !important;
  color: var(--mantine-color-white);
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--mantine-color-primary-5);
  border-radius: 0 !important;
}
