.popover {
  border-radius: rem(24);
  box-shadow: 0px 40px 35px -20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}

.popoverHeader {
  border-bottom: 1px solid var(--mantine-color-neutral-7);
}

.popoverForm {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.popoverContent {
  flex: 1;
}

.popoverActions {
  border-top: 1px solid var(--mantine-color-neutral-7);
}
