.quickLinksCard {
  border: 1px solid var(--mantine-color-neutral-3);
}

.quickLink {
  flex-shrink: 0;
}

.quickLinkExpandedView {
  padding-inline: 0 !important;
  border-radius: 0;
  border-bottom: 1px solid var(--mantine-color-neutral-7);
}

.quickLinkLabel {
  flex: 1;
}
