.quickLinksCard {
  border: 1px solid var(--mantine-color-neutral-3);
}

.quickLink {
  flex-shrink: 0;
}

.quickLinkExpandedView {
  padding-inline: 0 !important;
  border-radius: 0;
  border-bottom: 1px solid var(--mantine-color-neutral-7);
}

.quickLinkFolderExpandedView {
  &:hover {
    background-color: var(--mantine-color-neutral-7) !important;
  }
}

.quickLinkLabel {
  flex: 1;
}

.quickLinkFolderIconBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: rem(8);
}
