.tasks {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  border: 1px solid var(--mantine-color-neutral-3);
  overflow-y: auto;
}

.taskItem {
  border-bottom: 1px solid var(--mantine-color-neutral-3);
}

.hideButton {
  align-self: flex-start;
  border: 1px solid var(--mantine-color-neutral-3);
}

.inputWrapper {
  --_input-height: unset;
}

.input {
  padding: 0 !important;
  border: 0;
}

.inputDone {
  text-decoration: line-through 2px solid var(--mantine-color-black);
  color: var(--mantine-color-neutral-4) !important;
}
